<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-2">
            <h1>Welcome, {{user.first_name}}</h1>
            <div>
                <a href="/dashboard">back to recipes</a>
                <a href="/logout">logout</a>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{recipe.name}}</h1>
            <h5>Posted by: {{recipe.poster}}</h5>
        </div>
        <div class="box border border-1 border-black p-2">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Description:</th>
                        <td>{{recipe.description}}</td>
                    </tr>
                    <tr>
                        <th>Under 30 Minutes?</th>
                        <td>{{recipe.under_30}}</td>
                    </tr>
                    <tr>
                        <th>Instructions:</th>
                        <td>{{recipe.instructions}}</td>
                    </tr>
                    <tr>
                        <th>Date Made:</th>
                        <td>{{recipe.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>