<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Dojo Survey</title>
</head>

<body>
    <div class="container w-60 m-auto p-3 border border-black mt-5">
        <h1 class="mb-5">Dojo Survey</h1>
        <form action="/process" method="post">
            <!-- {% with messages = get_flashed_messages() %} declare a variable called messages -->
                <!-- {% if messages %}                        check if there are any messages -->
                    <!-- {% for message in messages %}        loop through the messages -->
                        <!-- <p>{{message}}</p>               display each message in a paragraph tag -->
                    <!-- {% endfor %} -->
                <!-- {% endif %} -->
            <!-- {% endwith %} -->
            <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Your Name: </label>
                {% for message in get_flashed_messages(category_filter=['name']) %}
                    <p class="text-danger">{{message}}</p>               <!-- display each message in a paragraph tag -->
                {% endfor %}
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Dojo Location: </label>
                {% for message in get_flashed_messages(category_filter=['location'])%}
                    <p class="text-danger">{{message}}</p>               <!-- display each message in a paragraph tag -->
                {% endfor %}
                <div class="col-sm-10">
                    <select name="location" class="form-control">
                        <option value="">-----Choose Location-----</option>
                        <option value="Tunis">Tunis</option>
                        <option value="San Jose">San Jose</option>
                        <option value="Paris">Paris</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Favorite Language: </label>
                {% for message in get_flashed_messages(category_filter=['language'])%}
                    <p class="text-danger">{{message}}</p>               <!-- display each message in a paragraph tag -->
                {% endfor %}
                <div class="col-sm-10">
                    <select name="language" class="form-control">
                        <option value="">-----Choose Language-----</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="C++">C++</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3 d-block">
                <label for="" class="col-sm-2 col-form-label">Comment: </label>
                {% for message in get_flashed_messages(category_filter=['comment'])%}
                    <p class="text-danger">{{message}}</p>               <!-- display each message in a paragraph tag -->
                {% endfor %}
                <div class="">
                    <textarea name="comment" class="form-control" cols="70"></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>